<%- include('../partials/header') %>

<h1>Editar pessoa</h1>
<p><a class="btn btn-default" href="/pessoas">Voltar</a></p>

<form method="POST">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="<%= pessoa.nome %>"/>
    </div>
    <div class="form-group">
        <label for="nascimento">Nascimento</label>
        <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Nascimento" value="<%= pessoa.nascimento %>"/>
    </div>
    <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo" value="<%= pessoa.cargo %>"/>
    </div>
    <button type="submit" class="btn btn-default">Salvar</button>
</form>

<%- include('../partials/footer') %>